@font-face {
    font-family: 'NanumSquare';
    src: url('../폰트/NanumSquareOTF_acR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

p {
  margin: 0;  /* 기본 margin 값을 제거 */
}
